.formLogin{
    display: flex;
    flex-direction: column;
}
.container {
    padding-top: 5%;
}

.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.feedback {
  width: 20.75rem;
  height: 1.5rem;
  margin: 0.75rem 0.438rem 0.625rem 0.938rem;
  font-family: Roboto;
  font-size: 0.76rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.95;
  letter-spacing: -0.17px;
  text-align: center;
  color: #ff0f44;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}